{% extends "admin/pages/admin.html" %}

{% block films %}
    {% if film %}
        {% include 'admin/pages/admin_film_page.html' %}
    {% else %}
        <div>
            <h2 style="text-align: center; height: 50px">Смотрите сегодня, {{today}}</h2>
            <div class="row justify-content-center" style="margin-bottom: 40px">
                <div class="col-6 align-self-center">
                    <a href="/admin/film/new"><button type="button" class="btn btn-block btn-primary btn-lg">Add new Films</button></a>
                </div>
            </div>
            <div class="row" style="margin-left: 0px">
                {% for poster in galery %}
                <div class="col-xl-2 col-md-3">
                    <a href="/admin?film_name={{poster.name}}"><img width="172" height="264" class='main_picture' src="{{ url_for('static', filename=poster.image) }}" onError="this.onerror=null;this.src='{{poster.remouteImage}}';"></a>
                    <p style="text-align: center; font-size:12px">{{poster.name}}</p>
                </div>
                {% endfor %}
            </div>
            <h2 style="text-align: center">Смотрите скоро</h2>
            <div class="row">
                {% for film in coming_soon_films %}
                <div class="col-xl-2 col-md-3">
                    <img width="172" height="264" src="{{ url_for('static', filename=film.image) }} " onError="this.onerror=null;this.src='{{film.remouteImage}}';">
                    <p style="text-align: center; font-size:12px">{{film.name}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <script type='text/javascript'>
        function imgError(this, image) {
            this.src = image;
        }

</script>
{% endblock %}