<nav class="navbar navbar-expand-md navbar-light" style="background-color: white; height: 30px">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav mx-auto">
            <li style="width:100px" class="nav-item">
                <a class="nav-link" href="#">poster</a>
            </li>
            <li style="width:100px" class="nav-item">
                <a class="nav-link" href="#">soon</a>
            </li>
            <li style="width:100px" class="nav-item">
                <a class="nav-link" href="#">cinemas</a>
            </li>
            <li style="width:100px" class="nav-item">
                <a class="nav-link" href="#">Actions</a>
            </li>
            <li style="width:100px" class="nav-item">
                <a class="nav-link" href="#">schedule</a>
            </li>
            <li style="width:100px" class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li style="width:100px" class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">login</a>
            </li>
            <li style="width:100px" class="nav-item">
                <a class="nav-link" href="{{url_for('register')}}">register</a>
            </li>
        </ul>
    </div>
</nav>