<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 style="text-align: center">KINO CMS</h1>
            <img style="display: block;margin-left: auto;margin-right: auto;width: 50%;" src="{{ url_for('static', filename='images/error-404.png') }}">
            <h1 style="text-align: center">We are sorry...</h1>
        </div>
        <div class="col-2"></div>
    </div>
</body>
</html>